@font-face{
    font-family: Montserrat Alternates;
    src: url("../font/MontserratAlternates-Regular.ttf");
}

/*@font-face{
    font-family: Montserrat;
    src: url("../font/Montserrat-Regular.ttf");
}*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #774A36;
}

.inheader{
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.left{
    height: 100%;
    display: table;
    float: left;
    margin: auto;
}

.left .image{
    height: 100%;
    width: 60px;
    display: table-cell;
    vertical-align: middle;
}

.left h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    font-family: 'Montserrat Alternates';
}

.left .image img{
    height: 50px;
    width: 50px;
}

.nav{
    float: right;
    height: 100%;
}

.nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    font-family: 'Montserrat Alternates';
}

.nav a:last-child{
    padding-right: 0;
}

.nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 25px;
}

.content{
    margin-left: auto;
    margin-right: auto;
    display: block;
	width: 400px;
    height: 500px;
	background-color: #593626;
	border-radius: 15px 15px 15px 15px;
}

.content .one{
    margin-top: 5%;
	margin-bottom: 3%;
    display: flex;
    justify-content: center;
}

.content .one img{
    width: 300px;
    height: 300px;
	border-radius: 50px 50px 50px 50px;
}

.content a{
	color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: Montserrat Alternates;
}

.content b{
	color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    font-family: Montserrat Alternates;
}

.content c{
	color: #E1A183;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-family: Montserrat Alternates;
}

.footer{
    margin-top: auto;
    width: 100%;
    height: 50px;
}

.footer .footer-one{
    display: table;
    height: 100%;
    width: 100%;
    padding-top: auto;
    padding-bottom: 0;
    background-color: #F07137;
}

.footer .footer-one a{
    color: white;
    display: table-cell;
    vertical-align: middle;
	font-size: 12px;
    font-family:  Montserrat Alternates;
    text-align: center;
}

.footer .footer-one a h1{
    font-size: 10px;
    font-family:  Montserrat Alternates;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
	background-color: #774A36;
}

html{
    height: 100%;
}